@font-face {
  font-family: 'dry_brush';
  src: url("../fonts/dry_brush-webfont.woff2") format("woff2"), url("../fonts/dry_brush-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  background: #f97272;
  /* Old browsers */
  background: -moz-radial-gradient(top, #f97272 6%, #d57add 26%, #30f4e4 54%, #30f4e4 54%, #d57add 72%, #d57add 72%, #f97272 90%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(top, #f97272 6%, #d57add 26%, #30f4e4 54%, #30f4e4 54%, #d57add 72%, #d57add 72%, #f97272 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(to bottom, #f97272 6%, #d57add 26%, #30f4e4 54%, #30f4e4 54%, #d57add 72%, #d57add 72%, #f97272 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97272', endColorstr='#f97272',GradientType=0 );
  /* IE6-9 */ }

h1 {
  font-family: 'dry_brush';
  font-size: 60px;
  color: #fff;
  display: inline; }

.contents {
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  margin: 0 auto; }

.content {
  font-family: 'dry_brush';
  font-size: 35px;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  box-sizing: border-box; }

span {
  margin-top: 76px;
  display: inline-block; }

.transition {
  transition: all 0.3s ease-in-out; }

.transition:hover {
  -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
  /* IE 9 */
  -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
  /* Safari */
  transform: matrix(1, -0.3, 0, 1, 0, 0);
  /* Standard syntax */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 5s ease;
  background: #1e5799;
  /* Old browsers */
  background: -webkit-linear-gradient(#1e5799 0%, #ffffff 20%, #ff2828 47%, #ffffff 73%, #1e5799 100%);
  background: linear-gradient(#1e5799 0%, #ffffff 20%, #ff2828 47%, #ffffff 73%, #1e5799 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 );
  /* IE6-9 */ }

.transform {
  transition: all 1s ease-in-out; }

.transform:hover {
  background-color: yellow;
  transform: skew(-40deg, -20deg) translate(40px);
  opacity: 0.7; }

.rotate {
  transition: all 3s ease-in-out; }

.rotate:hover {
  background-color: yellow;
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Safari */
  transform: rotate(360deg); }

.translate {
  transition: all 2s ease-in-out; }

.translate:hover {
  background-color: yellow;
  -ms-transform: translate(50px, 100px);
  /* IE 9 */
  -webkit-transform: translate(50px, 100px);
  /* Safari */
  transform: translate(50px, 100px); }

.scale {
  transition: all 1s ease-in-out; }

.scale:hover {
  transition: background-color 3s ease;
  background-color: yellow;
  border-radius: 50%;
  -ms-transform: scale(1.5, 1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5, 1.5);
  /* Safari */
  transform: scale(1.5, 1.5);
  /* Standard syntax */ }

.lastOne {
  transition: all 2s ease-in-out; }

.lastOne:hover {
  background-color: yellow;
  -ms-transform: rotate(360deg) translate(300px, 0);
  /* IE 9 */
  -webkit-transform: rotate(360deg) translate(300px, 0);
  /* Safari */
  transform: rotate(360deg) translate(300px, 0); }

header {
  text-align: center;
  margin: 30px; }

/*# sourceMappingURL=style.css.map */
