//Reset

* {
    margin: 0;
    padding: 0;
}

//General

body {
    margin: 0 auto;
    //Radial gradient 
    background: #f97272; /* Old browsers */
    background: -moz-radial-gradient(top, #f97272 6%, #d57add 26%, #30f4e4 54%, #30f4e4 54%, #d57add 72%, #d57add 72%, #f97272 90%); /* FF3.6-15 */
    background: -webkit-radial-gradient(top, #f97272 6%,#d57add 26%,#30f4e4 54%,#30f4e4 54%,#d57add 72%,#d57add 72%,#f97272 90%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(to bottom, #f97272 6%,#d57add 26%,#30f4e4 54%,#30f4e4 54%,#d57add 72%,#d57add 72%,#f97272 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97272', endColorstr='#f97272',GradientType=0 ); /* IE6-9 */
}

h1 {
    font-family: 'dry_brush';
    font-size: 60px;
    color: #fff;
    display: inline;
}
